# //npm.pkg.github.com/:_authToken=${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
# }

# @react-native-google-signin:registry=https://npm.pkg.github.com/